body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.todo-list-app {
  padding: 2em;
  margin: 2em;
  width: 30em;
}

.header {
  text-transform: uppercase;
}

.todo-input {
  margin: 2em 0;
}

.todo {
  background: #EEE;
  border: 1px solid #CCC;
  border-radius: 2px;
  margin-bottom: .5em;
  padding: 1em;
  width: 100%;
}

.todo .fa {
  float: right;
  cursor: pointer;
}

.todo:nth-child(even) {
  background: white;
}
